@page "/"
@*Html and C# can be written here*@
<div>
    <h3>Movie</h3>
    @foreach (var item in movies)
    {
        <p>Title: <b>@item.Title</b></p>
        <p>Release Date: @item.ReleaseDate.ToString("dd MM yyyy")</p>

    }
    @for (var i = 0; i < movies.Count; i++)
    {
        <div style="background-color: @(i % 2 == 0 ? "blue" : "red")">
            <p>Title: <b>@movies[i].Title</b></p>
            <p>Release Date: @movies[i].ReleaseDate.ToString("dd MM yyyy")</p>
        </div>
    }

</div>
@code{

    List<Movie> movies;

    protected override void OnInitialized()
    {
        movies = new List<Movie>()
{

            new Movie {Title = "Spider-Man",
            ReleaseDate = new DateTime(2019, 7, 2) },
        new Movie { Title = "Spider-Man",
            ReleaseDate = new DateTime(2019, 7, 2) },
        new Movie { Title = "Spider-Man",
            ReleaseDate = new DateTime(2019, 7, 2) },
        new Movie { Title = "Spider-Man",
            ReleaseDate = new DateTime(2019, 7, 2) }
    };

    }
}
